body #root {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  background-color: #242424;
  justify-content: center;
  align-items: center;
}

.form {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.download-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(90, 90, 90, 0.8);
}

.download-area img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}